.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width:23%;
    padding: 1%;
}
.nav{
    width: 73%;
    padding: 1%;
}
.ul{
    width:50%;
    margin-left: auto;
}
.logo{
    text-align:center;

} 
.heroimg{
    height: 600px;
    padding: 25px;
}
.content{
    width: 1000px;
    margin: 0 auto;
    background-color: #FFE4FA;
    border: 15px;

}

.footer{
    background-color: #373738;
    padding: center;}

.profilePic{
    background-image: url(IMG_4567.jpg);
   height: 250px;
   width: 250px;
   background-size: cover;
   background-position: center;
   display: block;
   border-radius: 125px;
   -webkit-border-radius: 125px;
   -moz-border-radius:125px; 




}
.aboutme{
    justify-content: flex-start;
    width: 400px;
    font-family: "Domine"; 
    float: inline-end;




}
.box1{
    background-color: #FFE4FA;
    height: 250px;
    width: 250px;
}
.box2{
    background-color: #FFE4FA;
    height: 250px;
    width: 250px;
  
}

.flexContainer{
display: flex;
width: 33%;
background-color: #EB6534;
margin: 10px;
padding: 10%;
background-size: cover;
background-position: center;
display: block;
border-radius: 125px;
-webkit-border-radius: 125px;
-moz-border-radius:125px; 

}